<!DOCTYPE html>
<html>
	{{ partial "header.html" . }}
	<body>
		<div class="content">
			{{ partial "head.html" . }}
			☠️ Netflix is the opium of the people ☠️
			
			<main class="list">
				<div class="site-description">
					{{- if isset .Site.Params "subtitle" -}}
					{{- end -}}
				</div>
				{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
				{{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
				{{ range (where .Site.RegularPages "Section" "posts") }}
				<section class="list-item">
					<h1 class="title">{{.Title}}</h1>
					
					<br>{{ template "partials/pagedescription.html" . }}
					<!-- <br>{{ template "partials/pagecontent.html" . }} -->
				
					  {{ .Content }}

					<!-- <a class="readmore" href="{{ .RelPermalink }}">Read more ⟶</a> -->
					<br>
					<br>
				</section>
				{{ end }}
				{{ template "partials/paginator.html" . }}
			</main>
			{{ partial "footer.html" . }}
		</div>
		
	</body>
</html>
